{
    "Description": "Service VPC - used for services",
    "Metadata": {
        "Build": "development",
        "DependsOn": [],
        "Environment": "ApiDev",
        "Revision": "develop",
        "StackName": "ApiDev-Dev-VPC",
        "StackType": "InfrastructureResource",
        "TemplateBucket": "cfn-apidev",
        "TemplateName": "VPC",
        "TemplatePath": "ApiDev/Dev/VPC"
    },
    "Outputs": {
        "BastionSG": {
            "Value": {
                "Ref": "BastionSG"
            }
        },
        "CloudWatchAlarmTopic": {
            "Value": {
                "Ref": "CloudWatchAlarmTopic"
            }
        },
        "InternetGateway": {
            "Value": {
                "Ref": "InternetGateway"
            }
        },
        "NatEmergencyTopicARN": {
            "Value": {
                "Ref": "NatEmergencyTopic"
            }
        },
        "VPCID": {
            "Value": {
                "Ref": "VPC"
            }
        },
        "VPCName": {
            "Value": {
                "Ref": "AWS::StackName"
            }
        },
        "VpcNetworkAcl": {
            "Value": {
                "Ref": "VpcNetworkAcl"
            }
        }
    },
    "Resources": {
        "BastionSG": {
            "Properties": {
                "GroupDescription": "Used for source/dest rules",
                "Tags": [{
                        "Key": "Environment",
                        "Value": "ApiDev"
                    },
                    {
                        "Key": "Name",
                        "Value": "ApiDev-Dev-VPC-Bastion-SG"
                    },
                    {
                        "Key": "Owner",
                        "Value": "Foo industries"
                    },
                    {
                        "Key": "Service",
                        "Value": "ServiceVPC"
                    },
                    {
                        "Key": "VPC",
                        "Value": "Dev"
                    }
                ],
                "VpcId": {
                    "Ref": "VPC"
                }
            },
            "Type": "AWS::EC2::SecurityGroup"
        },
        "CloudWatchAlarmTopic": {
            "Properties": {
                "TopicName": "ApiDev-Dev-CloudWatchAlarms"
            },
            "Type": "AWS::SNS::Topic"
        },
        "DhcpOptions": {
            "Properties": {
                "DomainName": {
                    "Fn::Join": [
                        "", [{
                                "Ref": "AWS::Region"
                            },
                            ".compute.internal"
                        ]
                    ]
                },
                "DomainNameServers": [
                    "AmazonProvidedDNS"
                ],
                "Tags": [{
                        "Key": "Environment",
                        "Value": "ApiDev"
                    },
                    {
                        "Key": "Name",
                        "Value": "ApiDev-Dev-DhcpOptions"
                    },
                    {
                        "Key": "Owner",
                        "Value": "Foo industries"
                    },
                    {
                        "Key": "Service",
                        "Value": "ServiceVPC"
                    },
                    {
                        "Key": "VPC",
                        "Value": "Dev"
                    }
                ]
            },
            "Type": "AWS::EC2::DHCPOptions"
        },
        "InternetGateway": {
            "Properties": {
                "Tags": [{
                        "Key": "Environment",
                        "Value": "ApiDev"
                    },
                    {
                        "Key": "Name",
                        "Value": "ApiDev-Dev-InternetGateway"
                    },
                    {
                        "Key": "Owner",
                        "Value": "Foo industries"
                    },
                    {
                        "Key": "Service",
                        "Value": "ServiceVPC"
                    },
                    {
                        "Key": "VPC",
                        "Value": "Dev"
                    }
                ]
            },
            "Type": "AWS::EC2::InternetGateway"
        },
        "NatEmergencyTopic": {
            "Properties": {
                "TopicName": "ApiDev-Dev-NatEmergencyTopic"
            },
            "Type": "AWS::SNS::Topic"
        },
        "VPC": {
            "Properties": {
                "CidrBlock": "10.0.0.0/16",
                "EnableDnsHostnames": "true",
                "EnableDnsSupport": "true",
                "InstanceTenancy": "default",
                "Tags": [{
                        "Key": "Environment",
                        "Value": "ApiDev"
                    },
                    {
                        "Key": "Name",
                        "Value": "ApiDev-Dev-ServiceVPC"
                    },
                    {
                        "Key": "Owner",
                        "Value": "Foo industries"
                    },
                    {
                        "Key": "Service",
                        "Value": "ServiceVPC"
                    },
                    {
                        "Key": "VPC",
                        "Value": "Dev"
                    }
                ]
            },
            "Type": "AWS::EC2::VPC"
        },
        "VpcDhcpOptionsAssociation": {
            "Properties": {
                "DhcpOptionsId": {
                    "Ref": "DhcpOptions"
                },
                "VpcId": {
                    "Ref": "VPC"
                }
            },
            "Type": "AWS::EC2::VPCDHCPOptionsAssociation"
        },
        "VpcGatewayAttachment": {
            "Properties": {
                "InternetGatewayId": {
                    "Ref": "InternetGateway"
                },
                "VpcId": {
                    "Ref": "VPC"
                }
            },
            "Type": "AWS::EC2::VPCGatewayAttachment"
        },
        "VpcNetworkAcl": {
            "Properties": {
                "Tags": [{
                        "Key": "Environment",
                        "Value": "ApiDev"
                    },
                    {
                        "Key": "Name",
                        "Value": "ApiDev-Dev-NetworkAcl"
                    },
                    {
                        "Key": "Owner",
                        "Value": "Foo industries"
                    },
                    {
                        "Key": "Service",
                        "Value": "ServiceVPC"
                    },
                    {
                        "Key": "VPC",
                        "Value": "Dev"
                    }
                ],
                "VpcId": {
                    "Ref": "VPC"
                }
            },
            "Type": "AWS::EC2::NetworkAcl"
        },
        "VpcNetworkAclInboundRulePublic443": {
            "Properties": {
                "CidrBlock": "0.0.0.0/0",
                "Egress": "false",
                "NetworkAclId": {
                    "Ref": "VpcNetworkAcl"
                },
                "PortRange": {
                    "From": "443",
                    "To": "443"
                },
                "Protocol": "6",
                "RuleAction": "allow",
                "RuleNumber": 20001
            },
            "Type": "AWS::EC2::NetworkAclEntry"
        },
        "VpcNetworkAclInboundRulePublic80": {
            "Properties": {
                "CidrBlock": "0.0.0.0/0",
                "Egress": "false",
                "NetworkAclId": {
                    "Ref": "VpcNetworkAcl"
                },
                "PortRange": {
                    "From": "80",
                    "To": "80"
                },
                "Protocol": "6",
                "RuleAction": "allow",
                "RuleNumber": 20000
            },
            "Type": "AWS::EC2::NetworkAclEntry"
        },
        "VpcNetworkAclOutboundRule": {
            "Properties": {
                "CidrBlock": "0.0.0.0/0",
                "Egress": "true",
                "NetworkAclId": {
                    "Ref": "VpcNetworkAcl"
                },
                "Protocol": "-1",
                "RuleAction": "allow",
                "RuleNumber": 30000
            },
            "Type": "AWS::EC2::NetworkAclEntry"
        },
        "VpcNetworkAclSsh": {
            "Properties": {
                "CidrBlock": "127.0.0.1/32",
                "Egress": "false",
                "NetworkAclId": {
                    "Ref": "VpcNetworkAcl"
                },
                "PortRange": {
                    "From": "22",
                    "To": "22"
                },
                "Protocol": "6",
                "RuleAction": "allow",
                "RuleNumber": 10000
            },
            "Type": "AWS::EC2::NetworkAclEntry"
        }
    }
}
